{% extends 'base.html' %}
{% block title %} Lista Deseuri Reciclate {% endblock %}
{% block content %}
    <div class="container"><br><br>
            <div class="shadow-lg p-3 mb-5 bg-body rounded">
                <table class="table table-success table-hover">
                    <thead>
                    <tr>
                        <th> Firma reciclatoare</th>
                        <th> Tip deseu </th>
                        <th> Cod deseu</th>
                        <th> Cantitate</th>
                        <th> Numar aviz transport</th>
                        <th> Data </th>
                        <th> Actiuni </th>

                    </tr>

                    </thead>
                    <tbody>
                    {% for reciclare in all_reciclare %}
                    <tr>
                        <td> {{ reciclare.firma_reciclatoare }}</td>
                        <td> {{ reciclare.tip_deseu }}</td>
                        <td> {{ reciclare.cod_deseu }}</td>
                        <td> {{ reciclare.cantitate_kg }}</td>
                        <td> {{ reciclare.nr_aviz }}</td>
                        <td> {{ reciclare.data }}</td>

                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-secondary dropdown-toggle"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                    Editati
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class=dropdown-item" href="{% url 'update_reciclare' reciclare.id %}">Update</a></li>
                                </ul>
                            </div>
                        </td>

                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>
{% endblock %}







