{% extends 'base.html' %}
{% block title %} Lista Deseuri Valorificate {% endblock %}
{% block content %}
    <div class="shadow-lg p-3 mb-5 bg-body rounded">
        <table class="table table-success table-hover">
            <thead>
            <tr>
                <th> Firma valorificare</th>
                <th> Tip deseu</th>
                <th> Cod deseu</th>
                <th> Cantitate</th>
                <th> Cost</th>
                <th> Data</th>
                <th> Actiuni</th>

            </tr>

            </thead>
            <tbody>
            {% for valorificare in all_valorificare %}
                <tr>
                <td> {{ valorificare.firma_valorificare }}</td>
                <td> {{ valorificare.tip_deseu }}</td>
                <td> {{ valorificare.cod_deseu }}</td>
                <td> {{ valorificare.cantitate_kg }}</td>
                <td> {{ valorificare.cost_lei }}</td>
                <td> {{ valorificare.data }}</td>

                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                            Editati
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class=dropdown-item" href="{% url 'update_valorificare' valorificare.id %}">Update</a>
                            </li>
                        </ul>
                    </div>
                </td>
            {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}