{% extends 'base.html' %}
{% block title %} Update Deseuri Valorificate {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3"><br>
            <div class="shadow-lg p-3 mb-5 bg-body rounded">
        <form method="post">
            {% csrf_token %}
            <div class="card-title">
                <h4 class="text-center">Update Deseuri Valorificate</h4>
            </div>
            <div class="card-body">
                {{ form.as_p }}
            </div>
            <div class="card-footer text-center">
            <button type="submit" class="btn btn-primary">Update</button>
            <a href="{%  url 'lista_valorificare' %}" class="btn btn-secondary"> Cancel </a>
            </div>

        </form>
            </div>
        </div>
    </div>


{% endblock%}