
{% extends 'base.html' %}
{% block title %} Produse Introduse pe piață {% endblock %}
{% block content %}
    <div class="container-fluid" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-md-6 offset-md-3"><br>
            <div class="shadow-lg p-3 mb-5 bg-body rounded">
                <form method="post">
                    {# csrf token ofera protectie impotriva falsificariicererilor intre site/uri. #}
                    {% csrf_token %}
                    <div class="card-title">
                        <h4 class="text-center">Adaugă produse introduse pe piață</h4>
                    </div>
                    <div class="card-body">
                        {{ form.as_p }}
                    </div>
                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-outline-info">Salvează</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    </div>

{% endblock %}