{% extends 'base.html' %}
{% block title %} Lista Deseuri Reciclate {% endblock %}
{% block content %}
    <div class="container"><br><br>
            <div class="shadow-lg p-3 mb-5 bg-body rounded">
                <table class="table table-success table-hover">
                    <thead>
                    <tr>
                        <th> Deseu Introdus</th>
                        <th> Cantitate</th>
                        <th> Indeplinire obiectiv</th>
                        <th> Luna Importului </th>
                        <th> Actiuni </th>

                    </tr>

                    </thead>
                    <tbody>
                    {% for produse in all_produse %}
                    <tr>
                        <td> {{ produse.deseu_introdus }}</td>

                        <td> {{ produse.cantitate}}</td>
                        <td> {{ produse.indeplinire_obiectiv}}</td>
                        <td> {{ produse.alege_luna }}</td>
                    </tr>
                 {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>
{% endblock %}